.menuList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menuItem {
  margin-bottom: 8px;
}

.menuLink {
  text-decoration: none;
  color: white;
  font-size: 14px;
  display: block;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.menuLink:hover {
  background-color: #444;
  color: #ddd;
}
